APP_DOMAIN=http://192.168.1.103:3000

# The name of the Role for the administrator users. It's necessary to define
# in an environment variable, because it's handled by both the frontend and
# the backend. If not specified, it will use "Super Admin".
ADMIN_ROLE_NAME=Super Admin

# The default password to use when creating new users.
# Since the user accounts are not created by the users itselfs, but the
# administrators, the password need to be auto-assigned
DEFAULT_PASS=t3admint3admin

# Secret key used to encode passwords and sensitive information. E.g. 'HS256', 'RS256'
PRIVATE_KEY=a-strong-password-to-use-as-secret-key-to-encode-and-or-decode

# Credentials for sending emails from the application
# These credentials are for the email account from which the emails are going
# to be sent (the sender).
MAIL_PASSWORD=apassword
MAIL_USERNAME=t3@mail.org

# Mailgun configuration
MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_DOMAIN=the-domain-that-serves-your-emails

# The minimum accepted length for passwords
MIN_PASSWORD_LENGTH=8

# DB variables
POSTGRESQL_ADDRESS=db
POSTGRESQL_DATABASE=desm_development
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_PORT=5432

# airbrake
AIRBRAKE_PROJECT_ID=
AIRBRAKE_PROJECT_KEY=