<tr>
  <td align="center" style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
    <div style="color: #ffffff; font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif; font-size: 36px; line-height: 1; text-align: center;">
      <%= @title %>
    </div>
  </td>
</tr>
<tr>
  <td align="center" style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
    <div style="color: white; font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif; font-size: 16px; line-height: 20px; text-align: center;">
      <%= @user.fullname.capitalize %>, a mapping you were working is updated.
    </div>
  </td>
</tr>
<tr>
  <td align="center" style="font-size: 0px; padding: 10px 25px; word-break: break-word;" vertical-align="middle">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: separate; line-height: 100%; width: 80%;">
      <tr>
        <td
            align="center"
            bgcolor="#d5320d"
            role="presentation"
            style="background-color: #d5320d; border: none; border-radius: 4px; cursor: auto; padding: 10px 25px; cursor: pointer;"
            valign="middle"
          >
          <a
              href=<%= @url %>
              style="
                background: #d5320d;
                color: #ffffff;
                font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
                font-size: 16px;
                font-weight: bold;
                line-height: 30px;
                margin: 0;
                text-decoration: none;
                text-transform: none;
              "
              target="_blank"
          >
            See mapping
          </a>
        </td>
      </tr>
      <tr>
        <td align="center" style="font-size: 0px; padding: 10px 25px; word-break: break-word;">
          <div style="color: #232323; font-family: 'Droid Sans', 'Helvetica Neue', Arial, sans-serif; font-size: 16px; line-height: 20px; text-align: center;">
            <small>Contact <a href="mailto:workforce@USChamber.com">workforce@USChamber.com</a> if you have questions.</small>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
