---
http_interactions:
- request:
    method: get
    uri: http://s3.amazonaws.com/jestaticd2l/purl/schema/standard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - J171JNY0BKNEMEVZ
      Last-Modified:
      - Sun, 17 Nov 2019 18:48:22 GMT
      Etag:
      - '"dfdf050c1e2bea1481ef126dc2e87398"'
      Content-Type:
      - application/rdf+xml
    body:
      encoding: UTF-8
      string: "<rdf:RDF xmlns:asn=\"http://purl.org/ASN/schema/core/\" \n    xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        \n    xmlns:dcterms=\"http://purl.org/dc/terms/\" \n    xmlns:loc=\"http://www.loc.gov/loc.terms/relators/\"
        \n    xmlns:skos=\"http://www.w3.org/2004/02/skos/core#\" \n    xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        \n    xmlns:rdfs=\"http://www.w3.org/2000/01/rdf-schema#\" \n    xmlns:owl=\"http://www.w3.org/2002/07/owl#\"
        \n    xmlns:schema=\"http://schema.org/\" \n    xmlns:vann=\"http://purl.org/vocab/vann/\">\n<!--\n
        ====================================================== \n-->\n<!--    BEGIN
        SCHEMA DESCRIPTION                    -->\n<!--\n ======================================================
        \n-->\n<rdf:Description rdf:about=\"http://purl.org/ASN/schema/core/\">\n
        \   <dc:title xml:lang=\"en-US\">The Achievement Standards Network Core Properties</dc:title>\n
        \   <dc:publisher xml:lang=\"en-US\">University of Washington</dc:publisher>\n
        \   <dc:contributor xml:lang=\"en-US\">D2L</dc:contributor>\n    <dc:description
        xml:lang=\"en-US\">The Achievement Standards Network Core namespace provides
        URIs for many of the terms used in ASN metadata instances. Custom ASN application
        profiles can be achieved through use of properties and classes from other
        RDF schemas and ontologies. Vocabulary terms are declared using RDF Schema
        language to support RDF applications.</dc:description>\n    <dc:language xml:lang=\"en-US\">English</dc:language>\n
        \   \n
        \   \n</rdf:Description>\n<!--\n
        ====================================================== \n-->\n<!--    END
        SCHEMA DESCRIPTIONN                     -->\n<!--\n ======================================================
        \n-->\n<!--\n ====================================================== \n-->\n<!--
        \   BEGIN PROPERTY DEFINITIONS FOR DOCUMENTS    -->\n<!--    AND STATEMENTS
        \                             -->\n<!--\n ======================================================
        \n-->\n<!--    Definition of alignedFrom    -->\n<rdf:Property rdf:about=\"http://purl.org/ASN/schema/core/alignFrom\">\n
        \   <rdfs:label>align from</rdfs:label>\n    <rdfs:comment>A standards document
        or statement from which the statement or document being described is aligned.</rdfs:comment>\n
        \   <dc:description xml:lang=\"en-US\">An alignment is an assertion of some
        degree of eqiuvalency between the subject and the object of the assertion.</dc:description>\n
        \   <rdfs:isDefinedBy rdf:resource=\"http://purl.org/ASN/schema/core/\"/>\n
        \   </rdf:Property>\n    \n<!--    Definition of alignedTo    -->\n<rdf:Property
        rdf:about=\"http://purl.org/ASN/schema/core/alignTo\">\n    <rdfs:label>align
        to</rdfs:label>\n    <rdfs:comment>A standards document or statement to which
        the statement or document being described is aligned.</rdfs:comment>\n    <dc:description
        xml:lang=\"en-US\">An alignment is an assertion of some degree of eqiuvalency
        between the subject and the object of the assertion.</dc:description>\n    <rdfs:isDefinedBy
        rdf:resource=\"http://purl.org/ASN/schema/core/\"/>\n</rdf:Property>\n    \n<!--
        \   Definition of altStatementNotation    -->\n<!--    Added December 3, 2012
        \   -->\n<rdf:Property rdf:about=\"http://purl.org/ASN/schema/core/altStatementNotation\">\n
        \   <rdfs:label>Alternative Statement Notation</rdfs:label>\n    <rdfs:comment>An
        alphanumeric notation or ID code identifying the statement in common use among
        end-users.</rdfs:comment>\n    <rdfs:subPropertyOf rdf:resource=\"http://purl.org/dc/terms/identifer\"/>\n
        \   <rdfs:isDefinedBy rdf:resource=\"http://purl.org/ASN/schema/core/\"/>\n</rdf:Property>\n
        \   \n<!--    Definition of assessmentRubric    -->\n<!--    Added February
        26, 2019    -->\n<rdfs:Property rdf:about=\"http://purl.org/ASN/schema/core/assessmentRubric\">\n
        \   <rdfs:label xml:lang=\"en-US\">Assessment Rubric</rdfs:label>\n    <rdfs:comment
        xml:lang=\"en-US\">Explicit set of criteria used for assessing an articulated
        competency or set of competencies.</rdfs:comment>\n    <rdfs:domain rdf:resource=\"http://purl.org/ASN/schema/core/StandardDocument\"/>\n
        \   <rdfs:range rdf:resource=\"http://purl.org/ASN/schema/core/Rubric\"/>\n
        \   <rdfs:range rdf:resource=\"http://purl.org/ASN/schema/core/RubricCriterion\"/>\n
        \   <rdfs:isDefinedBy rdf:resource=\"http://purl.org/ASN/schema/core/\"/>\n</rdfs:Property>\n
        \   \n<!--    Definition of authorityStatus    -->\n<!--    Modified November
        14, 2007    -->\n<rdf:Property rdf:about=\"http://purl.org/ASN/schema/core/authorityStatus\">\n
        \   <rdfs:label>Authority Status</rdfs:label>\n[...]
