/* Override Bootstrap4 container width*/

@media (min-width: 576px) {
    .container {
      max-width: 100%;
    }
  
    .container > .row > .col-lg-6 {
      padding: 4vw 6vw 4vw 6vw;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 100%;
    }
  
    .container > .row > .col-lg-6 {
      padding: 4vw 6vw 4vw 6vw;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 100%;
    }
  
    .container > .row > .col-lg-6 {
      padding: 4vw 6vw 4vw 6vw;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 100%;
    }
  
    .container > .row > .col-lg-6 {
      padding: 4vw 6vw 4vw 6vw;
    }
  }
  
  /* Mobile */
  
  @media (max-width: 768px) {
    .nav-item > .btn  {
      margin-bottom: 10px;
    }

    .container > .row > .col-lg-6 {
      padding: 4vw 6vw 4vw 6vw;
    }

    .indicator {
      visibility: hidden;
    }
  }

  @media (max-width: 360px) {
    .brand-box-container {
      width: 20rem !important;
    }
  }