/*Navbar Styles*/
@import 'colors.scss';

.nav-container {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  border-bottom: solid 2px $primary-color;
  padding: 0;
}

.navbar-nav.ml-auto {
  padding-bottom: 6px;
}

.nav-item {
  margin-left: 30px;
  padding-top: 10px;
}

.current-page {
  border-bottom: solid 4px $primary-color-light;
}

.brand-box {
  background-image: url('images/White-T3-Inno-Network-02-reverse.png');
  background-size: 12rem;
  background-repeat: no-repeat;
}

.brand-box-container {
  height: 3.4rem;
  width: 13.5rem;
  border-bottom: solid 8px $on-primary;
  background-color: $on-primary;
}

.navbar-brand {
  background-color: $on-primary;
  margin: 0.4rem;
  height: 90%;
  width: 90%;

  a:hover{
    color: $background-color;
  }
}

.nav-title-highlited{
  font-weight: 600;
  font-size: 18px;
}
