<div class="row indicator">
    <div class="col-xs-4 indicator-step complete">
      <div class="indicator-stepnum">
        <%= t('home.navigation.step_indicator_1') %>
      </div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="indicator-dot"></a>
    </div>
    
    <div class="col-xs-4 indicator-step active">
      <div class="indicator-stepnum">
        <%= t('home.navigation.step_indicator_2') %>
      </div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="indicator-dot"></a>
    </div>
    
    <div class="col-xs-4 indicator-step">
      <div class="indicator-stepnum">
        <%= t('home.navigation.step_indicator_3') %>
      </div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="indicator-dot"></a>
    </div>
</div>