<nav class="navbar navbar-expand-md">
  <%= render "logo.html.erb" %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active" id="view-mappings">
      <a class="nav-link">View Mappings</a>
    </li>
    <li class="nav-item">
      <button class="btn btn-outline-secondary" type="button">Map a Specification</button>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <button class="btn btn-outline-secondary" type="button">Create an Account</button>
      <button class="btn btn-dark" type="button">Sign-In</button>
    </li>
  </ul>
</nav>