<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <section>
        <h6>View Specifications</h6>
        <p>
          Description goes here Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.
        </p>
        <button class="btn btn-dark" type="button">View Specifications</button>
      </section>
      <section>
        <h6>Map your specification to the T3 spine</h6>
        <p>
          Description goes here Lorem ipsum dolor sit amet consectetur
          adipiscing elit lobortis ridiculus suscipit, risus etiam per
          auctor cum viverra proin dapibus dis rhoncus felis, hendrerit
          at integer inceptos curabitur ad volutpat quam urna. Posuere
          quis nam vehicula nisi odio rhoncus molestie volutpat.
        </p>
      </section>
      <section>
        <ol class="usage-explanation">
          <li>Upload Your Specification</li>
          <li>Coarse Grain Mapping</li>
          <li>Fine Grain Mapping and Tunning</li>
          <li>Download Mapping</li>
        </ol>
      </section>
      <section>
        <button class="btn btn-dark" type="button">Start Mapping</button>
      </section>
    </div>

    <div class="col-lg-6 right-side-col">
      <section>
        <h6>About the project</h6>
        <p>
          Description goes here Lorem ipsum dolor sit amet consectetur
          adipiscing elit lobortis ridiculus suscipit, risus etiam per
          auctor cum viverra proin dapibus dis rhoncus felis, hendrerit
          at integer inceptos curabitur ad volutpat quam urna. Posuere
          quis nam vehicula nisi odio rhoncus molestie volutpat.
        </p>

        <p>
          Description goes here Lorem ipsum dolor sit amet consectetur
          adipiscing elit lobortis ridiculus suscipit, risus etiam per
          auctor cum viverra proin dapibus dis rhoncus felis, hendrerit
          at integer inceptos curabitur ad volutpat quam urna. Posuere
          quis nam vehicula nisi odio rhoncus molestie volutpat.
        </p>

        <p>
          Description goes here Lorem ipsum dolor sit amet consectetur
          adipiscing elit lobortis ridiculus suscipit, risus etiam per
          auctor cum viverra proin dapibus dis rhoncus felis, hendrerit
          at integer inceptos curabitur ad volutpat quam urna. Posuere
          quis nam vehicula nisi odio rhoncus molestie volutpat.
        </p>

        <h6>Section Title</h6>
        <p>
          Description goes here Lorem ipsum dolor sit amet consectetur
          adipiscing elit lobortis ridiculus suscipit, risus etiam per
          auctor cum viverra proin dapibus dis rhoncus felis, hendrerit
          at integer inceptos curabitur ad volutpat quam urna. Posuere
          quis nam vehicula nisi odio rhoncus molestie volutpat.
        </p>
      </section>
    </div>
  </div>
</div>