/* General */

body {
  &.waiting {
    cursor: wait;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
}

.small-text {
  font-size: 11px;
}

section {
  margin-bottom: 2vw;
}

a:hover {
  color: $primary-color-light;
}

.border-bottom {
  border-bottom: 1px solid $on-primary;
}

.border-dotted {
  border: 1px dotted $on-primary !important;
}

.input-group-has-icon .form-control {
  padding-left: 2.375rem;
}

.form-control-feedback {
  color: #aaa;
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.5rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 1.2rem;
}

.right-aligned {
  right: 2rem;
}

.fully-centered {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.desm-col-header {
  min-height: 10rem;
}

.hover-col-primary:hover {
  background-color: $primary-color;
  color: $foreground-color;

  .text-body-secondary {
    color: $foreground-color !important;
  }
}

/* Main view Styles */

.bg-col-secondary {
  background-color: $background-color-dark !important;
}

.bg-dashboard-background {
  background-color: $dashboard-background-color !important;
}

.bg-dashboard-background-highlight {
  background-color: $dashboard-background-color-highlight !important;
}

.bg-dashboard-background-highlight2 {
  background-color: $dashboard-background-color-highlight2 !important;
}

.col-dashboard {
  color: $dashboard-background-color !important;
}

.col-dashboard-highlight {
  color: $dashboard-background-color-highlight !important;
}

.bg-col-primary {
  background-color: $primary-color !important;
}

.bg-col-on-primary {
  background-color: $on-primary !important;
}

.bg-col-on-primary-highlight {
  background-color: $primary-color-highlight !important;
}

.bg-col-on-primary-light {
  background-color: $on-primary-light !important;
}

.bg-dashboard-background-light {
  background-color: $dashboard-background-color-light !important;
}

.bg-col-success {
  background-color: $success-color !important;
}

.bg-transparent {
  background-color: transparent;
}

.col-background {
  color: $background-color !important;
}

.col-on-primary {
  color: $on-primary !important;
}

.col-on-primary-light {
  color: $on-primary-light;
}

.col-primary {
  color: $primary-color !important;
}

.col-success {
  color: $success-color !important;
}

.no-color-header {
  background-color: unset !important;
  border-bottom: unset !important;
}

.borderless {
  border: unset !important;
}

.bottom-borderless {
  border: unset !important;
}

.mandatory-fields-notice {
  text-align: end;
}

.col-header {
  min-height: 10vw;
}

.float-over {
  position: absolute !important;
  z-index: 5;
}

.comment-dot {
  left: -10px;
  position: relative;
}

.rounded-divider {
  border-radius: 5px;
  border-top: 2px solid #bbb;
}

.desm-rounded {
  border-radius: 0.5rem !important;
}

.selected-item {
  border-bottom: solid 4px $primary-color-light !important;
  margin-bottom: -1px;
  z-index: 3;
}

.desm-tab-item:hover {
  background-color: $primary-color;

  &:not(.selected-item) {
    color: $primary-color-highlight;
  }
}

.bottom-border-white {
  border-color: white;
}

.top-border-strong {
  border-top: solid 2px $on-primary;
}

.non-selectable {
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.fit-content-height {
  min-height: fit-content;
}

.centered-width {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}

/* Scrollbar */

.has-scrollbar {
  max-height: 45vw;
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  background-color: $background-color-dark;
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: $on-primary-light;
  border-radius: 8px;
}

/* Others */
button[disabled] {
  pointer-events: auto;
}

.desm-tooltip {
  color: $primary-color;
}

.disabled-container {
  opacity: 0.4;
}

.with-shadow {
  box-shadow: 4px 8px 5px -7px $on-primary-light;
}

.box-title {
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-top-dashboard-highlight {
  border-top: 3px solid $dashboard-background-color-highlight !important;
}

.cp-container {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.cp-step-row {
  margin-bottom: 60%;
}

.border-color-dashboard {
  border: 2px solid $dashboard-background-color-highlight;
}

.border-color-dashboard-dark {
  border: 2px solid $dashboard-background-color;
}

.border-warning {
  border: 2px solid $warning-color !important;
}

.dashboard-active-tab {
  border-top: 2px solid $dashboard-background-color-highlight;
}

.dashboard-inactive-tab {
  background-color: $dashboard-background-color;
  color: $background-color;
}

.term-card {
  min-height: 3rem;
}

/* Mobile */

@media (width <= 768px) {
  .indicator {
    visibility: hidden;
  }
}
