/* Desm Radio */

.desm-radio div {
  clear: both;
  overflow: auto;
}

.desm-check-container-sm {
  height: 5rem;
}

.desm-radio label {
  align-items: center;
  border: 1px solid $primary-color-highlight;
  border-radius: 3px;
  display: inline-flex;
  font-weight: normal;
  min-height: 2.5rem;
  width: 100%;
}

.desm-radio input[type='radio']:empty,
.desm-radio input[type='checkbox']:empty {
  left: -9999px;
  position: absolute;
}

.desm-radio input[type='radio']:empty ~ label,
.desm-radio input[type='checkbox']:empty ~ label {
  cursor: pointer;
  padding-left: 3.25em;
  padding-right: 0.5rem;
  position: relative;
  user-select: none;
}

.desm-radio input[type='radio']:empty ~ label::before,
.desm-radio input[type='checkbox']:empty ~ label::before {
  align-items: center;
  background: $primary-color-highlight;
  border-radius: 3px 0 0 3px;
  bottom: 0;
  content: '';
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2.5em;
}

.desm-radio > .has-spine input[type='radio']:empty ~ label::before,
.desm-radio > .has-spine input[type='checkbox']:empty ~ label::before {
  background: green !important;
}

.desm-radio input[type='radio']:hover:not(:checked) ~ label,
.desm-radio input[type='checkbox']:hover:not(:checked) ~ label {
  color: $on-primary-light;
}

.desm-radio input[type='radio']:hover:not(:checked) ~ label::before,
.desm-radio input[type='checkbox']:hover:not(:checked) ~ label::before {
  color: $foreground-color;
  content: '✓';
  font-weight: bolder;
  text-indent: 0.9em;
}

.desm-radio input[type='radio']:checked ~ label,
.desm-radio input[type='checkbox']:checked ~ label {
  color: #777;
}

.desm-radio input[type='radio']:checked ~ label::before,
.desm-radio input[type='checkbox']:checked ~ label::before {
  background-color: #ccc;
  color: #333;
  content: '✓';
  font-weight: bolder;
  text-indent: 0.9em;
}

.desm-radio input[type='radio']:focus ~ label::before,
.desm-radio input[type='checkbox']:focus ~ label::before {
  box-shadow: 0 0 0 3px #999;
}

.desm-radio-default input[type='radio']:checked ~ label::before,
.desm-radio-default input[type='checkbox']:checked ~ label::before {
  background-color: #ccc;
  color: #333;
}

.desm-radio-primary {
  position: relative;
}

.desm-radio-primary input[type='radio']:checked ~ label::before,
.desm-radio-primary input[type='checkbox']:checked ~ label::before {
  background-color: $on-primary;
  color: #fff;
}
