/* Forms */

.form-group .form-control:focus {
  border-color: $primary-color;
  box-shadow: 0 0 0 0.2rem $background-color-dark;
}

.domain-option {
  padding-bottom: 0.2vw;
  padding-top: 0.2vw;
}

.form-group {
  > label {
    font-weight: 600;

    &.required {
      &::after {
        color: $primary-color;
        content: ' *';
        vertical-align: top;
      }
    }
  }
}

.floating-spec-btn {
  $floating-spec-btn-size: 5rem;

  border-radius: 50% !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
  height: $floating-spec-btn-size;
  position: absolute;
  right: -0.5 * $floating-spec-btn-size;
  top: 50%;
  width: $floating-spec-btn-size;
  z-index: 5;

  &:focus {
    box-shadow: 0 0 0 0.3rem rgb(0 123 255 / 50%) !important;
  }
}

.react-codemirror2 {
  height: 100%;
  max-height: 27rem;

  ::-webkit-scrollbar {
    background-color: $primary-color-highlight;
    height: 6px;
    width: 6px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-color-light;
  }

  /* The corner where the vertical and horizontal scrollbars meet */
  ::-webkit-scrollbar-corner {
    background: $primary-color-light;
  }
}

.CodeMirror {
  height: 100% !important;
}

.custom-select:focus {
  border-color: $primary-color !important;
  box-shadow: 0 0 0 0.2rem $background-color-dark !important;
}
