<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Organizations</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @organizations.each do |c| %>
            <tr>
              <td>
                <%= c.name %>
              </td>
              <td>
                <%= link_to edit_admin_organization_path(c.id), :class => "btn btn-dark" do %>
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                <% end %>
              </td>
              <td>
                <%= link_to "/admin/organizations/#{c.id}", :class => "btn btn-dark", :method => :delete do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>