.card-body {
  padding: $card-spacer-y $card-spacer-x;
}

p.card-text {
  margin-bottom: $card-spacer-y;
}

.card {
  @include m(link) {
    cursor: pointer;

    &:hover {
      background-color: $dashboard-background-color-highlight2 !important;
      text-decoration: none;
    }
  }
}
