.icon {
  @include m(btn) {
    margin-right: -$spacer * 0.25;
    margin-top: -$spacer * 0.25;
  }
}

.desm-icon {
  direction: ltr;
  display: inline-block;
  font-family: $desm-font-icon;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;

  @include m(fill) {
    font-variation-settings: 'FILL' 1;
  }
}

.fa-icon {
  @include m(small) {
    width: 0.8rem;
  }
}
