/* Define standard variables and values for website */
$primary-color: #d5320d;
$primary-color-light: #fb2437;
$primary-color-highlight: #e2e2e2;
$on-primary: #232323;
$on-primary-light: #7f7f7f;
$background-color: #fff;
$background-color-dark: #f3f3f3;
$foreground-color: #e2e2e2;
$success-color: green;
$dashboard-background-color: #132639;
$dashboard-background-color-light: #efefef;
$dashboard-background-color-highlight: #2d9bf0;
$dashboard-background-color-highlight2: #a9c9e9;
$warning-color: #ffc107;
$white: #fff;
$black: #000;

// desm theme colors
$desm-theme-colors: (
  // theme color (derived from bootstrap)
  primary: #0d6efd,
  secondary: #6c757d,
  // desm theme colors
  desm-primary: #dc3545,
  red: #dc3545,
  success: #28a745,
  gray-dark: #343a40,
  bg-dark: $background-color-dark
);

// desm predicate colors
$desm-predicate-colors: (
  dark-blue: (
    bg: #00008b,
    text: $white,
  ),
  dark-green: (
    bg: #005600,
    text: $white,
  ),
  light-blue: (
    bg: #add8e6,
    text: $black,
  ),
  lime-green: (
    bg: #28a745,
    text: $white,
  ),
  orange: (
    bg: #ffa500,
    text: $white,
  ),
  red: (
    bg: #dc3545,
    text: $white,
  ),
  pink: (
    bg: #ff4c23,
    text: $white,
  ),
  yellow: (
    bg: #c3c300,
    text: $white,
  ),
  unset: (
    bg: unset,
    text: $black,
  ),
);
