@import 'colors.scss';

/* General */

@font-face {
  font-family: 'Proxima Nova Condensed Light';
  src: url('../fonts/proxima-light/Proxima Nova Condensed Light.otf')
}

html,body,.container-fluid,.row,.wrapper,body>div {
  height:100%;
}

.subtitle {
  font-weight: bold;
  font-size: 18px;
}

section {
  margin-bottom: 2vw;
}

a {
  color: $on-primary;
}

a:hover {
  color: $primary-color-light;
}

.wrapper {
  margin-right: 12%;
  margin-left: 12%;
  font-family: "Proxima Nova Condensed Light", sans-serif;
}

.cursor-pointer{
  cursor: pointer;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  color: #aaa;
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.5rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 1.2rem;
  z-index: 2;
}

/* Main view Styles */

.bg-col-secondary {
  background-color: $background-color-dark;
}

.bg-col-primary {
  background-color: $primary-color !important;
}

.bg-col-on-primary-highlight {
  background-color: $primary-color-highlight !important;
}

.col-background {
  color: $background-color !important;
}

.mandatory-fields-notice{
  text-align: end;
}

.file-card {
  overflow-y: scroll;
  max-height: 50%;
}

/* Scrollbar */

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color:$background-color-dark;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: $on-primary-light;
  border-radius: 8px;
}

.disabled-form {
  opacity: 0.4;
}

/* Mobile */

@media (max-width: 768px) {
  .indicator {
    visibility: hidden;
  }
}