/* Define standard variables and values for website */
$primary-color: #d5320d;
$primary-color-light: #fb2437;
$primary-color-highlight: #e2e2e2;
$on-primary: #232323;
$on-primary-light: #7f7f7f;
$background-color: #fff;
$background-color-dark: #f3f3f3;
$foreground-color: #e2e2e2;
$success-color: green;
$dashboard-background-color: #132639;
$dashboard-background-color-light: #efefef;
