/* Forms */
@import 'colors.scss';

.form-group .form-control:focus {
  border-color: $primary-color;
  box-shadow: 0 0 0 0.2rem $background-color-dark;
}

.domain-option {
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}

.form-group {
  > label {
    font-weight: 600;
  }
}

.react-codemirror2{
  height: 100%;
  max-height: 27rem;
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: $primary-color-highlight;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 8px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-color-light;
  }
  /* The corner where the vertical and horizontal scrollbars meet */
  ::-webkit-scrollbar-corner {
    background: $primary-color-light;
  }
}

.CodeMirror{
  height: 100% !important;
}