/* Navbar Styles */
@import 'colors';

.nav-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-with-border {
  border-bottom: solid 2px $primary-color;
  padding: 0 !important;
}

.navbar-nav > li > .nav-link {
  color: $on-primary;
}

.navbar-nav.ml-auto {
  padding-bottom: 6px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

#toggle-nav {
  bottom: -7px;
  position: relative;
}

.brand-box {
  background-image: url('../images/t3-logo.png');
  background-repeat: no-repeat;
  background-size: 12rem;
}

.brand-box-container {
  height: 3.5rem;
  width: 15rem;

  .navbar-brand {
    height: 90%;
    margin-left: 2rem;
    margin-top: 0.4rem;
    width: 80%;
  }
}

.nav-title-highlighted {
  font-size: 18px;
  font-weight: 600;
}

.no-sides-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.selected-dashboard-option {
  border-left: 1px solid $background-color;
}
