/*Navbar Styles*/
@import 'colors.scss';

.nav-container {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  border-bottom: solid 2px $primary-color;
  padding: 0;
}

.navbar-nav.ml-auto {
  padding-bottom: 6px;
}

.nav-item {
  margin-left: 30px;
  padding-top: 10px;
}

.current-page {
  border-bottom: solid 4px $primary-color-light;
}

.brand-box {
  background-image: url('../images/White-T3-Inno-Network-02-reverse.png');
  background-repeat: no-repeat;
  background-size: 12rem;
}

.brand-box-container {
  background-color: $on-primary;
  border-bottom: solid 8px $on-primary;
  height: 3.5rem;
  width: 20rem;

  .navbar-brand{
    background-color: $on-primary;
    height: 90%;
    margin-left: 2rem;
    margin-top: 0.4rem;
    width: 80%;
  }
}

.nav-title-highlited{
  font-size: 18px;
  font-weight: 600;
}
