/* Stepper (Inside the Navbar) */

.indicator {
  bottom: 0.5rem;
  margin-left: -5rem !important;
  padding-left: 7vw;
  position: relative;
}

.indicator > .indicator-step {
  min-width: 7vw;
  position: relative;
  top: 0.5vw;
}

.indicator > .indicator-step .indicator-stepnum {
  color: $foreground-color;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 0.1vw;
  padding-right: 0.7vw;
}

.indicator > .indicator-step > .indicator-dot {
  background: $primary-color-light;
  border-radius: 50%;
  display: block;
  height: 0;
  left: 0%;
  position: absolute;
  top: 15px;
  width: 0;
}

.indicator > .indicator-step > .indicator-dot::after {
  background: $foreground-color;
  border-radius: 50px;
  content: ' ';
  height: 10px;
  left: -1px;
  position: absolute;
  top: 5px;
  width: 10px;
}

.indicator-step.active > .indicator-dot::after {
  background: $primary-color;
}

.indicator-step.complete > .indicator-dot::after {
  background: $on-primary;
}

.indicator > .indicator-step > .progress {
  border-radius: 0;
  box-shadow: none;
  height: 3px;
  position: relative;
}

.indicator > .indicator-step > .progress > .progress-bar {
  box-shadow: none;
  opacity: 0.2;
  width: 0;
}

.indicator > .indicator-step.active > .progress > .progress-bar {
  background: $primary-color-light;
  width: 100% !important;
}

.indicator > .indicator-step.complete > .progress > .progress-bar {
  background: $on-primary !important;
  opacity: 0.5;
  width: 100% !important;
}

.indicator-step.active > .indicator-stepnum {
  color: $primary-color;
}

.indicator-step.complete > .indicator-stepnum {
  color: $on-primary;
}

.indicator > .indicator-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}

.indicator > .indicator-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}

.indicator > .indicator-step.disabled > .indicator-dot {
  background-color: $primary-color-light;
  opacity: 0.2;
}

.indicator > .indicator-step.disabled > .indicator-dot::after {
  opacity: 0;
}

.indicator > .indicator-step.disabled a.indicator-dot {
  pointer-events: none;
}
