<nav class="navbar sticky-top flex-md-nowrap p-0">
  <%= render "shared/logo.html.erb" %>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "Sign Out", destroy_user_session_path, { :method => :delete, :class => "btn btn-outline-secondary" } %>
    </li>
  </ul>
</nav>